{{#if user}}
<div class="jumbotron">
    <h1><span class="fa fa-database"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
{{/if}}

<div class="row-wrapper">
    {{#if user}}
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                {{#if user.local.email}}
                <p>
                    <strong>id</strong>: {{user._id}}<br>
                    <strong>email</strong>: {{user.local.email}}<br>
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                {{else}}
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                {{/if}}

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                {{#if user.facebook.token}}
                <p>
                    <strong>id</strong>: {{user.facebook.id}}<br>
                    <strong>email</strong>: {{user.facebook.email}}<br>
                    <strong>name</strong>: {{user.facebook.name}}<br>
                </p>

                <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                {{else}}
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                {{/if}}

            </div>
        </div>
    </div>

    {{else}}
    <div class="jumbotron">
        <h1>User Authentication Required</h1>
        <p>Sign in and view your profile!</p>
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Sign in!
            </a>
        </p>
    </div>
    {{/if}}

</div>