{{#if web}}
<div id="search-result-content-box" class="search-result-content">
    {{#each web}}
    {{#if this}}
    <div class="outer-result-box">
        <div class="inner-result-box">
            <div class="result-info-box">
                <h3 class="result-info-title"><a href="{{this.u}}">{{{this.t}}}</a></h3>
                <div class="result-info-text">{{{this.a}}}</div>
                <div class="result-info-link ellipsis"><a href="{{this.u}}"><span class="result-prev-link">{{{this.u}}}</span></a></div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
{{/if}}
{{#if img}}
<div id="search-img-result-content-box" class="outer-gallery-box">
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev"></a>
        <a class="next"></a>
        <a class="close">x</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="false">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="links" class="inner-gallery-box">
        {{#each img}}
        <div class="grid-img-box">
            <a href="{{this.j}}" title="{{this.i}}" data-gallery>
                <img class="img-prev-style" src="{{this.h}}" alt="{{this.i}}" />
                <div class="img-meta-box">
                    <span class="img-meta-info hidden ellipsis">{{this.ih}}x{{this.iw}} - {{this.u}}</span>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="clearfix"></div>
</div>
{{/if}}
{{#if video}}
<div id="search-video-result-content-box" class="video-box">
    {{#each video}}
    {{#if this}}
    <div class="outer-video-box">
        <div class="inner-video-box">
            <a href="https://www.youtube.com/watch?v={{this.id}}" title="{{this.title}}">
                <img src="{{this.thumbnail.hqDefault}}" alt="{{this.id}}" />
            </a>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
{{/if}}
{{#if none}}
<div class="jumbotron">
    <h2>
        Sorry, no results found...
    </h2>
</div>
{{/if}}