<div class="footer-column col-one">
    <h3>Subscribe</h3>
    <ul>
        <li><a href="http://twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://plus.google.com" target="_blank" rel="publisher">Google+</a></li>
        <li><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
    </ul>
</div>

<div class="footer-column col-two">
    <h3>Browse</h3>
    <ul>
        <li><a href="{{urlRoot}}" title="Go to VeCrawl home">Home</a></li>
        <li><a href="{{urlRoot}}/profile" title="User Profile">Profile</a></li>
        <li><a href="{{urlRoot}}/settings" title="User Settings">Settings</a></li>
    </ul>
</div>

<div class="footer-column col-three">
    <h3>Information</h3>
    <ul>
        <li><a href="{{urlRoot}}/support" title="The VeCrawl Support">Support</a></li>
        <li><a href="{{urlRoot}}/about" title="More about VeCrawl">About</a></li>
        <li><a href="{{urlRoot}}/contact" title="Contact Us for more Information">Contact</a></li>
    </ul>
</div>

<div class="clearfix visible-xs-block"></div>